.our-story {
  @apply bg-[url("/images/sections-bg/section-bg-9.svg")]
  bg-cover
  bg-center
  bg-no-repeat
  relative;
}

.our-story::before {
  @apply overlay
  !bg-gradient-to-br from-neutral-900/75 to-neutral-900/0;
}

.our-story-container {
  @apply section-container;
}

.our-story-heading {
  @apply section-heading;
}

.our-story-content {
  @apply bg-neutral-100/15
  backdrop-blur-sm
  rounded-lg
  shadow-lg
  overflow-hidden
  grid
  grid-cols-1
  lg:grid-cols-2
  justify-center
  items-center;
}

.our-story-img-content {
  @apply overflow-hidden
  sm:h-96
  lg:h-[26rem];
}

.our-story-img {
  @apply object-cover;
}

.our-story-text-content {
  @apply p-5
  lg:p-6
  text-center
  xl:text-start;
}

.our-story-company-slogan {
  @apply text-lg
  lg:text-xl
  tracking-widest
  font-[700]
  font-primary
  uppercase
  flex
  gap-1.5
  lg:gap-2
  justify-center
  xl:justify-start
  text-gray-50;
}

.our-story-slogan-quote-left,
.our-story-slogan-quote-right {
  @apply text-base
  lg:text-lg;
}

.our-story-description {
  @apply mt-3
  lg:mt-4
  mb-7
  lg:mb-9
  text-sm
  lg:text-base
  tracking-widest
  font-[400]
  text-center
  xl:text-justify
  text-gray-200;
}

.our-story-book-a-session-btn {
  @apply btn
  btn-primary;
}

@media (max-width: 355px) {
  .our-story-text-content {
    @apply p-4;
  }

  .our-story-company-slogan {
    @apply text-base
    gap-1;
  }

  .our-story-slogan-quote-left,
  .our-story-slogan-quote-right {
    @apply text-sm;
  }

  .our-story-description {
    @apply mt-2
    mb-5
    text-xs;
  }
}
