.our-photography-collection {
  @apply bg-[url("/images/sections-bg/section-bg-9.svg")]
  bg-cover
  bg-center
  bg-no-repeat
  relative;
}

.our-photography-collection::before {
  @apply overlay
  !bg-gradient-to-br from-neutral-900/[0.01] to-neutral-900/0;
}

.our-photography-collection-container {
  @apply section-container
  relative;
}

.our-photography-collection-heading {
  @apply text-2xl 
  lg:text-3xl 
  tracking-widest 
  font-primary
  font-[900]
  text-center
  text-transparent 
  bg-clip-text 
  bg-gradient-to-r from-pink-100 to-pink-300
  relative
  pb-3
  lg:pb-3.5
  mb-7
  lg:mb-9;
}

.our-photography-collection-heading::after {
  content: "";
  @apply absolute 
  bottom-0 
  left-1/2
  w-16
  lg:w-20 
  h-1
  lg:h-[0.3125rem] 
  bg-gradient-to-r from-pink-300 to-pink-100
  rounded-full
  -translate-x-1/2;
}

.our-photography-collection-filter-bar {
  @apply sticky
  top-0
  z-50

  p-3
  lg:p-4
  mb-5
  lg:mb-6
  
  bg-neutral-200/15
  backdrop-blur-md
  
  rounded-lg
  shadow-lg
  
  flex
  items-center;
}

.scroll-right {
  @apply w-8
  lg:w-10
  ml-1
  lg:ml-2;
}

.scroll-right-icon {
  @apply text-gray-50
  text-3xl
  lg:text-4xl
  flex-shrink-0;
  animation: leftToRIghtBackAndForthLoop 2s ease-in-out infinite;
}

.our-photography-collection-filter-categories {
  @apply flex
  flex-nowrap
  overflow-x-auto
  gap-2
  lg:gap-3
  xl:gap-4
  justify-start
  whitespace-nowrap;

  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.our-photography-collection-filter-categories::-webkit-scrollbar {
  @apply hidden;
}

.filter-category-btn {
  @apply btn
  btn-secondary
  flex-shrink-0;
}

.active-filter-category {
  @apply bg-gray-50
  border-gray-50
  text-gray-950;
}

.our-photography-collection-content {
}

.my-masonry-grid {
  @apply flex
  -ml-6
  lg:-ml-7
  w-auto;

  display: -webkit-box;
  display: -ms-flexbox;
}

.my-masonry-grid_column {
  @apply pl-6
  lg:pl-7
  bg-clip-padding;
}

.my-masonry-grid_column > a {
  @apply block
  mb-6
  lg:mb-7
  bg-none;
}

.our-photography-collection-img {
  @apply block
  w-full
  relative;
}

.lg-outer .lg-sub-html {
  @apply !hidden;
}

.lg-outer .lg-progress-bar .lg-progress {
  @apply bg-pink-500;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
  @apply !border-pink-500;
}

.our-photography-collection-img-loading-skeleton {
  @apply bg-gray-700
  animate-pulse
  rounded-lg
  shadow-lg
  w-full
  absolute
  top-0
  left-0;
}

.our-photography-collection-img-thumbnail {
  @apply w-full
  h-auto
  block
  rounded-lg
  shadow-lg
  relative
  hover:scale-[1.025]
  hover:brightness-125
  transition;

  image-rendering: -webkit-optimize-contrast;
}

.our-photography-collection-img-loading {
  @apply opacity-0;
}

.our-photography-collection-img-loaded {
  @apply opacity-100;
}

@media (max-width: 355px) {
  .our-photography-collection-heading {
    @apply text-xl
    mb-8;
  }

  .our-photography-collection-filter-bar {
    @apply p-2.5
    mb-4;
  }

  .scroll-right {
    @apply w-8
    ml-0.5;
  }

  .scroll-right-icon {
    @apply text-2xl;
  }

  .our-photography-collection-filter-categories {
    @apply gap-1.5;
  }

  .my-masonry-grid_column > a {
    @apply mb-5;
  }
}
