.our-photography-collection {
  @apply bg-[url("/images/sections-bg/section-bg-9.svg")]
  bg-cover
  bg-center
  bg-no-repeat
  relative;
}

.our-photography-collection::before {
  @apply overlay
  !bg-gradient-to-b from-neutral-900/[0.01] to-neutral-900/0;
}

.our-photography-collection-container {
  @apply section-container
  relative;
}

.our-photography-collection-heading {
  @apply section-heading;
}

.our-photography-collection-filter-bar {
  @apply sticky
  top-0
  z-50

  p-3
  lg:p-4
  mb-5
  lg:mb-6
  
  bg-neutral-200/15
  backdrop-blur-md
  
  rounded-lg
  shadow-lg
  
  flex
  items-center
  justify-center;
}

.our-photography-collection-filter-categories {
  @apply flex
  flex-nowrap
  overflow-x-auto
  gap-2
  lg:gap-3
  items-center
  justify-start;

  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.our-photography-collection-filter-categories::-webkit-scrollbar {
  @apply hidden;
}

.filter-category-btn {
  @apply btn
  btn-secondary;
}

.active-filter-category {
  @apply bg-gray-50
  border-gray-50
  text-gray-950;
}

.our-photography-collection-content {
}

.my-masonry-grid {
  @apply flex
  -ml-6
  lg:-ml-7
  w-auto;

  display: -webkit-box;
  display: -ms-flexbox;
}

.my-masonry-grid_column {
  @apply pl-6
  lg:pl-7
  bg-clip-padding;
}

.my-masonry-grid_column > a {
  @apply block
  mb-6
  lg:mb-7
  bg-none;
}

.our-photography-collection-img {
  @apply block
  w-full
  relative
  border-2
  border-pink-400/25
  hover:border-pink-400
  transition
  rounded-lg
  shadow-lg
  overflow-hidden;
}

.lg-outer .lg-sub-html {
  @apply !hidden;
}

.lg-outer .lg-progress-bar .lg-progress {
  @apply bg-pink-400;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
  @apply !border-pink-400;
}

.our-photography-collection-img-loading-skeleton {
  @apply bg-gray-700
  animate-pulse
  rounded-lg
  shadow-lg
  w-full
  absolute
  top-0
  left-0;
}

.our-photography-collection-img-thumbnail {
  @apply w-full
  h-auto
  block
  relative
  hover:scale-[1.05]
  transition;
}

.our-photography-collection-img-loading {
  @apply opacity-0;
}

.our-photography-collection-img-loaded {
  @apply opacity-100;
}

@media (max-width: 355px) {
  .our-photography-collection-filter-bar {
    @apply p-2.5
    mb-4;
  }

  .our-photography-collection-filter-categories {
    @apply gap-1.5;
  }

  .my-masonry-grid {
    @apply -ml-5;
  }

  .my-masonry-grid_column {
    @apply pl-5;
  }

  .my-masonry-grid_column > a {
    @apply mb-5;
  }
}
