.photo-gallery {
  @apply bg-gradient-to-tr from-stone-50 to-stone-300;
}

.photo-gallery-container {
  @apply section-container
  relative;
}

.photo-gallery-heading {
  @apply text-2xl
  lg:text-3xl
  font-primary
  font-[900]
  tracking-widest
  text-gray-600
  w-min
  text-nowrap
  border-t-[6px]
  lg:border-t-[8px]
  border-indigo-300
  mb-9
  lg:mb-10;
}

.photo-gallery-filter-bar {
  @apply sticky
  top-0
  z-50

  p-3
  lg:p-4
  mb-5
  lg:mb-6
  
  bg-neutral-900/50
  backdrop-blur-md
  
  rounded-lg
  shadow-lg
  
  flex
  items-center;
}

.scroll-right {
  @apply w-8
  lg:w-10
  ml-1
  lg:ml-2;
}

.scroll-right-icon {
  @apply text-gray-50
  text-3xl
  lg:text-4xl
  flex-shrink-0;
  animation: leftToRIghtBackAndForthLoop 2s ease-in-out infinite;
}

.photo-gallery-filters {
  @apply flex
  flex-nowrap
  overflow-x-auto
  gap-2
  lg:gap-3
  xl:gap-4
  justify-start
  whitespace-nowrap;

  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.photo-gallery-filters::-webkit-scrollbar {
  @apply hidden;
}

.filter-btn {
  @apply btn
  btn-secondary
  flex-shrink-0;
}

.filter-btn.active {
  @apply bg-gray-50
  border-gray-50
  text-gray-950;
}

.my-masonry-grid {
  @apply flex
  -ml-5
  lg:-ml-6
  w-auto;

  display: -webkit-box;
  display: -ms-flexbox;
}

.my-masonry-grid_column {
  @apply pl-5
  lg:pl-6
  bg-clip-padding;
}

.my-masonry-grid_column > a {
  @apply block
  mb-5
  lg:mb-6
  bg-none;
}

.photo-gallery-img {
  @apply block
  w-full
  relative;
}

.img-loading-skeleton {
  @apply bg-gray-700
  animate-pulse
  rounded-lg
  shadow-lg
  w-full
  absolute
  top-0
  left-0;
}

.photo-gallery-img-thumbnail {
  @apply w-full
  h-auto
  block
  rounded-lg
  shadow-lg
  relative
  hover:scale-[1.025]
  hover:brightness-125
  transition;

  image-rendering: -webkit-optimize-contrast;
}

.photo-gallery-img-thumbnail.loading {
  @apply opacity-0;
}

.photo-gallery-img-thumbnail.loaded {
  @apply opacity-100;
}

@media (max-width: 355px) {
  .photo-gallery-heading {
    @apply text-xl
    mb-8;
  }

  .photo-gallery-filter-bar {
    @apply p-2.5
    mb-4;
  }

  .scroll-right {
    @apply w-8
    ml-0.5;
  }

  .scroll-right-icon {
    @apply text-2xl;
  }

  .photo-gallery-filters {
    @apply gap-1.5;
  }

  .my-masonry-grid_column > a {
    @apply mb-4;
  }
}
